* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans empattement;
}

@import url('https://fonts.googleapis.com/css2? family= Raleway & display=swap');

a {
    text-decoration: none;
    color: #000000;
}

/* Eléments principaux de la page */
.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.sub-container {
    padding: 0 20px;
}
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    
}
.logo {
    padding: 15px;   
}

h1 {
    color: #000000;
    text-align: left;
    font-size: 1.7em;
    font-weight: bolder;
}

h2 {
    margin: 10px 0px;
    font-size: 1em;
    font-weight: normal;
}
h3 {
    color: #000000;
}
h5 {
    padding: 0 15px;
    position: absolute;
    bottom: 15px;
    background-color: var(--white);
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    color: #000000;
}
nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
}
nav .nav-link {
    height: 100%;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-link a {
    color: #000000;
    height: 100%;
    display: flex;
    border-top: 3px solid transparent;
    align-items: center;
    width: 100%;
    justify-content: center;
}

nav .nav-link a:hover,
nav .nav-link.active a {
    border-top-color: #0065FC;
}
main {
    padding: 50px 0;
}
.stars {
    color: #0065FC;
}
.grey {
    color: #d1d0d0;
}
.search_container {
    height: 48px;
    display: flex;
    margin: 30px 0 30px
}
.search_container i {
    height: 48px;
    width: 48px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    font-size: 18px;
}
.search_container input {
    border: 2px solid #F2F2F2;
    padding-left: 20px;
    font-size: 16px;
    font-weight: bold;
}

.search_container button {
    background-color: #0065FC;
    padding: 0 15px;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 0 15px 15px 0;
}

.filters_container {
    display: flex;
    align-items: center;
}

.filters_container .label {
    font-weight: bold;
    margin-right: 20px;
}

.filters_container button {
    position: relative;
    padding: 0 20px 0 45px;
    margin-right: 30px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #F2F2F2;
    background-color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.filters_container button:hover {
    background-color: #0065FC;
    color: #fff;
}

.filters_container button i {
    position: absolute;
    top: -2px;
    left: -2px;
    color: #0065FC;
    background-color: #DEEBFF;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info_container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.info_container i {
    color: #314ad5;
    background-color: #ffffff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgb(207, 208, 213) solid;
    margin-right: 10px;
}
.w-card {
    background-color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #e9e9e9;
}

.w-card:hover {
    color: #0065FC;
}

.section_container_one .column_left,
.section_container_one .column_right {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 25px;
}

.txt_container p {
    margin-bottom: 15px;
}

.section_container_one .column_right .card_container .card .txt_container {
    width: 200px;
}

.section_container_one {
    display: flex;
    gap: 30px;
    height: 650px;
}
.plus {
    font-weight: bold;
    color: #000000;
    font-size: 0.9em;
    display: block;
    margin-top: 25px;
}
.section_container_one .column_left {
    flex: 5;
}

.section_container_one .column_right {
    flex: 2;
}

.section_container_one .img_container {
    width: 100%;
    height: 120px;
}

.section_container_one .img_container img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.section_container_one .column_left .card_container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section_container_one .column_left .card_container .card {
    width: calc(33% - 15px);
}
.section_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

}
.section_container_one .column_right .card_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section_container_one .column_right .card_container .card {
    display: flex;
    margin-top: 0;
    height: 150px;
}

.section_container_one .column_right .img_container {
    height: 145px;
    width: 130px;
}

.section_container_one .column_right .img_container img {
    border-radius: 20px 0 0 20px;
    width: 125px;
    height: 137px;
}

.txt_container {
    padding: 10px;
}

/*.........................ACTIVITE.........................*/
.section_container_two {
    display: flex;
    flex-direction: column;
}

h4#activities {
    padding-top: 30px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex1 {
    flex: 1;
}



/*......................hébergement marseille...................*/
.activities {
    margin-top: 50px;
}
.card-container {
    height: 360px;
    
    display: flex;
    gap: 20px;
}
.activities h3 {
    margin-bottom: 15px;
}
.column {
    
    height: 100%;
    flex: 1;
}
.column .card {
    background-color: rgb(255, 255, 255);
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgb(228, 225, 225) 5px 5px 10px;
}
.column.demi {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.column.demi .card {
    height: 170px;  
}

.card-title {
    background-color: rgb(255, 255, 255);
    height: 35px;
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.image-container {
    height: calc(100% - 35px);
}
.image-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*........................FOOTER.................................*/
footer {  
    background-color: #F2F2F2;
    padding: 50px 0;
   
}
footer .container {
    display: flex;
}

.footer-column {
    flex: 1;
}

footer li {
    list-style-type: none;
    margin: 10px 0;
    font-size: 0.8em;
}

footer ul a {
    color: #000000;
}

@media (max-width: 600px) {
    .logo {
        margin: 0;
    }
    main {
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
       
         
    }
   
    .filters_container {
        flex-direction: column;
        align-items: flex-start;
        margin-right: 0;
    }

    .filters_container .label {
        margin-bottom: 20px;
    }   
    .filters_container button {
        margin-bottom: 15px;
    }
    
    .section_container_one {
       flex-direction: column-reverse; 
       height: inherit;   
    }
    .section_container_one .column_right {
        border-radius: 0;
    }
    .section_container_two{
        flex-direction: column;
        
    }
    .activities.flex-row.flex-between.no-deco {
        flex-direction: column;
        box-sizing: content-box;
        
    }
    .activities {
        height: 100%;
        width: 100%;
        padding: 0 20px;
    }
    .activities .card-container .column {
        height: auto;
    }
    .card_container, .card-container {
        flex-direction: column;
        gap: inherit;
       
    }
    .section_container_one .column_left .card_container .card, .card-container .card {
        height: 215px !important;
        width: auto;   
        margin-bottom: 30px; 
    }
    .section_container_one .column_left {
        background-color:#ffffff
    }
    footer {
        flex-direction: column;
     }
    
    .footer-column {
         padding: 0;
         margin: 0;
     }   
        
     